<div class="cover">
  <app-menu></app-menu>
  <div class="container-fluid">
    <div class="jumbotron jumbotron-fluid jumbo row justify-content-end">
      <div class="col-sm-6 col-md-4 mr-sm-2 mr-md-5">
        <div class="container text-right text-white">
          <h1 class="display-4">Give Your Opinion</h1>
          <p class="lead">Weigh-In gives you the chance to make a difference in a debate, vote on what you're passionate about and tip the scales.</p>
        </div>
      </div>
    </div>
    <div class="row search pt-4">
      <div class="col-6">
        <p>Today's Most Popular</p>
      </div>
      <div class="col-6">
        <p>Latest</p>
      </div>
    </div>
  </div>
</div>
