/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootswatch/dist/flatly/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootswatch/dist/flatly/bootswatch";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 130px;
}
