<!-- adapted from example on getbootstrap.com -->
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-primary p-4">
      <h4 class="text-white">Weigh-In</h4>

    </div>
  </div>

  <nav class="navbar navbar-dark navbar-trans navbar-inverse">
    <button class="ml-auto navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

</div>
