<!-- adapted from example on getbootstrap.com -->
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <nav class="navbar navbar-dark bg-primary">
      <h4 class="navbar-brand">Weigh-In</h4>
      <button class="btn btn-outline-success">login</button>
    </nav>
<!--
    <div class="bg-primary p-4">
      <div class="container-fluid flex-column flex-sm-row">
        <h4 class="text-white">Weigh-In</h4>
        <a>Search</a>
      </div>
      
    </div>
-->
  </div>
<!--
  <nav class="navbar navbar-dark navbar-trans navbar-inverse">
    <button class="ml-auto navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
-->
</div>
